.*
42cursus/1circle/get_next_line/gnl-war-machine-v2019
42cursus/1circle/netwhat/netwhat
42cursus/1circle/netwhat/netwhat42-train
42cursus/1circle/netwhat/netwhat.dSYM
42cursus/1circle/ft_printf/ft_printf
42cursus/1circle/ft_printf/ft_printf.dSYM
42cursus/1circle/ft_printf/ptf
42cursus/0circle/libft/libft-war-machine/
42cursus/0circle/libft/Libftest/
*/*/*/a.out
